body{

background:linear-gradient(to right,#0f2027,#203a43,#2c5364);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial,sans-serif;

}

.card{

border-radius:20px;

padding:20px;

}

h2{

font-weight:bold;

color:#0d6efd;

}

.btn{

padding:10px;

font-size:18px;

}