body{

background:linear-gradient(135deg,#1d4350,#a43931);

font-family:Arial,sans-serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.card{

border-radius:20px;

padding:20px;

}

h2{

font-weight:bold;

color:#198754;

}

.btn{

font-size:18px;

padding:10px;

}